@font-face {
  font-family: CursorGothic;
  src: url('./assets/fonts/CursorGothic-Regular.woff2') format('woff2');
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}
* {
  font-family: 'CursorGothic', sans-serif;
}