
:root {
  --accent-color: rgb(237, 236, 236);
  --bg-color: #14120b;
  --border-color: rgba(237, 236, 236, 0.3);
  --btn-hover-color: rgb(27, 25, 19);
  --btn-hover-color-2: rgb(215, 214, 213);
  --border-radius: 5px;
  --button-padding: 6px 12px;
  --card-bg-color: rgb(27, 25, 19);
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
  background-color: var(--bg-color);
  color: var(--accent-color);
  overflow-y: auto;
  height: 100vh;
}
body::-webkit-scrollbar {
  width: 12px;
}

body::-webkit-scrollbar-track {
  background: #2a2a2a;
}

body::-webkit-scrollbar-thumb {
  background: rgba(237, 236, 236, 0.6);
  border-radius: 10px;
  border: 2px solid #2a2a2a;
}

body::-webkit-scrollbar-thumb:hover {
  background: rgba(237, 236, 236, 0.8);
}
main {
  width: 100%;
  max-width: 1300px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  margin: 0px auto;
}
header {
  position: sticky; /* better than fixed */
  top: 0;
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  background: var(--bg-color);
  z-index: 1000;
}
header nav {
  width: 100%;
  max-width: 1300px;
  height: 52px;
  padding: 0px 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: inherit;
}
nav a svg {
  fill: var(--accent-color);
  width: 94.75px;
}
.full-menu {
  list-style: none;
  display: flex;
  flex-direction: row;
}
.menu-name {
  text-decoration: none;
  color: inherit;
  padding: 5.6px 15px;
  font-size: 14px;
}
.menu-name:hover {
  opacity: 0.7;
}
.resources-button {
  position: relative;
}
.resources-menu {
  display: grid;
  grid-template-columns: repeat(2, minmax(7rem, 1fr));
  position: absolute;
  left: 0;
  top: 100%;
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  list-style: none;
  padding: 10px 15px;
  margin-top: 10px;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: 0.2s ease;
}
.resources-button:hover .resources-menu {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}
.resources-menu li a {
  color: var(--accent-color);
  text-decoration: none;
  font-size: 14px;
  padding: 5px 0px;
  display: block;
}
.nav-btns {
  display: flex;
  align-items: center;
  gap: 5px;
}
.btn-1 {
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  color: var(--accent-color);
  padding: 5px 10px;
  font-size: 14px;
  white-space: nowrap;
  cursor: pointer;
}
.btn-1:hover {
  background-color: var(--btn-hover-color);
}
.btn-2 {
  background-color: var(--accent-color);
  border: 1px solid var(--border-color);
  border-radius: 2rem;
  color: black;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}
.btn-2:hover {
  background-color: var(--btn-hover-color-2);
}
.btn-3 {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  display: none;
}
.section-1 {
  padding: calc(1rem * 1.4 * 5) calc(calc(10rem / 16) * 2) calc(1rem * 1.4 * 2)
    calc(calc(10rem / 16) * 2);
  display: flex;
  flex-direction: column;
}
.section-1 h1 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0px;
  margin-bottom: 1.4rem;
  line-height: 1.25;
  max-width: 36ch;
}
.btn-4 {
  background-color: var(--accent-color);
  color: var(--bg-color);
  padding: 0.78em 1.35em 0.8em;
  border: none;
  border-radius: 2rem;
  font-size: 1rem;
  text-decoration: none;
  margin-bottom: 56px;
  width: max-content;
}

.section-2 {
  padding: 0px calc(calc(10rem / 16) * 2) calc(1rem * 1.4 * 1.5)
    calc(calc(10rem / 16) * 2);
}

.section-2 p {
  font-size: 14px;
  text-align: center;
  margin-bottom: 1rem;
}
.client-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  gap: calc(10rem / 16);
}

.client-name {
  height: 6.25rem;
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  display: flex;
  justify-content: center;
  align-items: center;
}
.client-name img {
  height: 2.5rem;
}
.section-3 {
  padding: calc(1rem * 1.4 * 3) calc(calc(10rem / 16) * 2) calc(1rem * 1.4 * 3)
    calc(calc(10rem / 16) * 2);
  display: flex;
  flex-direction: column;
  gap: calc(1rem * 1.4 * 4);
}
.section-3-card {
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  padding: calc(10rem/16* 2) calc(10rem/16* 2.5);
  display: flex;
  flex-direction: row;  
  gap: calc(10rem / 16 * 3);
  box-sizing: border-box;
}
.section-3-card-text {
  flex: 1 1 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 220px;
}
.section-3-card-text h3,
.section-7 h3 {
  font-size: 1.375rem;
  font-weight: 400;
  margin: 0px;
  line-height: 1.3;
}
.section-3-card-text div {
  font-size: 1.375rem;
  color: rgba(237, 236, 236, 0.5);
}
.section-3-card-text a {
  margin-top: calc(1rem * 1.4 * 8/12);
  text-decoration: none;
  color: #f54e00;
}

.section-3-card-media {
  flex: 1 1 70%;
  border-radius: var(--border-radius);
  overflow: hidden;    
}
.section-3-card-media img {
  height: 100%;
}

.section-4 {
  padding: calc(1rem * 1.4 * 3) calc(calc(10rem / 16) * 2) calc(1rem * 1.4 * 3)
    calc(calc(10rem / 16) * 2);
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}
.section-4 h1 {
  font-size: 2.25rem;
  font-weight: 400;
  margin: 0px auto;
  text-align: left;
}
.section-4-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: calc(10rem/16*1);
}
.section-4-card {
  background-color: var(--card-bg-color);
  padding: calc(10rem/16*1.75);
  border-radius: var(--border-radius);
  margin: 0px;
  display: flex;
  flex-direction: column;
  gap: calc(1rem*1.4*1.5);
  justify-content: space-between;
}
.section-4-card blockquote {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  margin: 0px;
  letter-spacing: 0.005rem;

  display: -webkit-box;
  -webkit-line-clamp: 5;       /* number of lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
  position: relative;
}
.reviewer {
  display: flex;
  flex-direction: row;
}
.reviewer img {
  border-radius: var(--border-radius);
  margin-right: 0.8rem;
}
.reviewer figcaption {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  font-size: 0.875rem;
  line-height: 1.5;
  font-weight: 500;
  color: white;
}
.reviewer figcaption span {
  color: rgba(237, 236, 236, 0.5);
}

.section-5,
.section-6,
.section-7,
.section-8 {
  padding: calc(1rem * 1.4 * 3) calc(calc(10rem / 16) * 2) calc(1rem * 1.4 * 3)
    calc(calc(10rem / 16) * 2);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 1rem * 1.4;
}
.section-5 h1,
.section-6 h1 {
  font-size: 1.625rem;
  font-weight: 400;
}
.section-5-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
  gap: calc(10rem / 16 * 1);
}
.section-5-card {
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  padding: calc(10rem/16*1.75);
}
.section-5-card-text {
  color: var(--accent-color);
  font-size: 1rem;
  line-height: 1.5;
}
.section-5-card-text h3 {
  font-weight: 400;
  margin: 0px;
}
.section-5-card-text div {
  color: rgba(237, 236, 236, 0.5);
}
.section-5-card-text a,
.section-6 a ,
.section-7 a,
.section-8-view-more{
  display: inline-block;
  text-decoration: none;
  color: #f54e00;
  margin: 0px;
  margin-top: calc(1rem * 1.4 * 8 /12);
  margin-bottom: calc(10rem / 16 * 1.75);
}
.section-5-card img,  
.section-5-card video{
  border-radius: var(--border-radius);
  width: 100%;
}
.section-5-card img {
  background-color: rgb(38, 36, 30);
}
.section-5-card video{
  background: linear-gradient(oklab(0.943853 0.00107113 0.000336707 / 0.05) 0%, oklab(0.943853 0.00107113 0.000336707 / 0.05) 100%), linear-gradient(rgb(27, 25, 19) 0%, rgb(27, 25, 19) 100%);
}

.section-6-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  gap: calc(10rem/16*1);
}
.section-6-card {background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  padding: calc(10rem/16*1.75);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: calc(1rem * 1.4 *7/12);
  line-height: 1.5;
}
.version {
  display: flex;
  flex-direction: row;
  justify-content: left;
  gap: calc(12rem/15);
  color: rgba(237, 236, 236, 0.5);
}
.section-6-card span {
  font-size: 0.875rem;
  border-radius: 20px;
  padding: 0.1rem .65em;
  border: 1px solid var(--border-color);
}
.section-6-card p {
  margin: 0px;
}

.section-7-card{
  background-color: var(--card-bg-color);
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: row;
  gap: calc(10rem/16*3);align-items: center;
  padding: calc(10rem/16*1.5);
}
.section-7-text {
  flex: 1 1 30%;
  min-width: 220px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-7 figure {
  flex: 1 1 70%;
  overflow: hidden;
  border-radius: var(--border-radius);
  margin: 0px;
}
.section-7 figure img {
  width: 100%;
  height: auto;
}
.section-8 {
  background-color: #1b1913;
}
.section-8-container {
  display: flex;
  flex-direction: row;
}
.section-8-container h2 {
  flex: 1 1 50%;
  text-align: left;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
}
.section-8-grid {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  gap: calc(10rem/16*1);
  justify-content: left;
}
.section-8-card {
  width: 100%;
  max-width: 500px;
  padding: calc(10rem/16*1.5);
  font-size: 1rem;
  line-height: 1.5;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background-color: rgb(32, 30, 24);
  border-radius: var(--border-radius);
  color: var(--accent-color);
}
.section-8-card p {
  margin: 0px;
}
.section-8-card-content {
  color: rgba(237, 236, 236, 0.5);
}
.section-8-card span {
  margin-top: calc(1rem*1.4);
}
.section-9 {
  padding: calc(1rem * 1.4 * 3) calc(10rem/16*2);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(1rem * 1.4);
}
.section-9 h2 {
  font-size: 4.5rem;
  font-weight: 400;
  margin: 0px;
}
footer {
  padding: calc(1rem * 1.4 * 3) calc(10rem /16 * 2);
  background-color: #1b1913;
  color: var(--accent-color);
  width: 100%;
  margin: 0px;
  box-sizing: border-box;
}
.footer-container {
  width: 100%;
  max-width: 1300px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: calc(1rem * 1.4 * 4.5);
}
.footer-container nav {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: calc(10rem / 16 * 1);
}
.footer-column {
  display: flex;
  flex-direction: column;
  justify-content: left;
}
.footer-column h3{
  color: rgba(237, 236, 236, 0.5);
  padding: 0px;
  margin: 0px;
  padding-bottom: calc(1rem * 1.4 * 2.5 / 12);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
}
.footer-column ul {
  margin: 0px;
  padding: 0px;
}
.footer-column ul li {
  list-style: none;
}
.footer-column ul li a {
  display: inline-block;
  padding: calc(1rem * 1.4 * 2.5 / 12) 0px;
  font-size: 0.875rem;
  line-height: 1.5;
  text-decoration: none;
  color: var(--accent-color);
}
.footer-part-2 {
  width: 100%;
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.footer-info-group {
  display: flex;
  flex-direction: row;
  gap: calc(calc(10rem / 16) * 1.5);
}
.footer-info {
  font-size: 0.875rem;
  color: rgba(237, 236, 236, 0.5);
}
.footer-info a {
  color: inherit;
  text-decoration: none;
}
.footer-btns {
  display: flex;
  flex-direction: row;
  width: max-content;
  border-radius: 50px;
  background-color: rgb(38, 36, 30);
}
.footer-btns button,
.lng-btn {
  border-radius: 50px;
  padding: .45em .8em .46em;
  background-color: rgb(38, 36, 30);
  border: none;
  color: rgba(237, 236, 236, 0.6);
  cursor: pointer;
}
.footer-btns .active {
  background-color: #edecec1a;
}.footer-btns button:hover {
  color: var(--accent-color);
}
.lng-btn {
  border: 1px solid #edecec1a;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.lng-btn:hover {
  background-color: #edecec1a;
}


@media (max-width: 1100px) {
  .section-5-grid {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  .section-5-card img,
  .section-5-card video {
    max-height: 420px;
    width: max-content;
  }
  .section-6-grid {
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

@media (max-width: 900px) {
  .full-menu {
    display: none;
  }
  .btn-3 {
    display: block;
  }
  .client-grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  .section-3-card {
    flex-direction: column;
  }
  .section-3-card.right {
    flex-direction: column-reverse;
  }
  .section-4-grid {
    grid-template-columns: repeat(2 ,1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .section-7-card {
    flex-direction: column;
  }
  .section-8-container {
    flex-direction: column;max-width: none;
  }
}
@media (max-width: 550px) {
  .client-name {
    height: 4.5rem;
  }
  .client-name img{
  height: 2.25rem;
  }
  .section-4-grid {
    grid-template-columns: repeat(1 ,1fr);
    grid-template-rows: repeat(6, 1fr);
  }
   .section-6-grid {
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .section-6-card {
    font-size: 1rem;
  }
  .section-7 h3 {
    font-size: 1rem;
  }
  .footer-container nav {
    grid-template-columns: repeat(2, 1fr);
    row-gap: calc(1rem*1.4*2);
  }
  .footer-part-2 {
    flex-direction: column;
    gap: calc(1rem*1.4*2);
  }
}
